# =====================
# PYTHON / GENERALES
# =====================
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual (no se sube)
venv/
ENV/
env/
.venv/
.virtualenv/

# =====================
# VARIABLES DE ENTORNO
# =====================
.env
.env.*
!.env.example   # Este sí se sube como plantilla

# =====================
# REQUERIMIENTOS
# =====================
# NO ignorar requirements.txt
# requirements.txt se sube al repo
# requirements-dev.txt también

# =====================
# DJANGO
# =====================
db.sqlite3
db.sqlite3-journal

# Archivos estáticos generados
staticfiles/
static/
media/

# Cache
django_cache/
*/__pycache__/

# Migraciones (Recomendado NO ignorarlas)
# */migrations/*
# !*/migrations/__init__.py

# =====================
# LOGS
# =====================
*.log
logs/
*.out
*.err

# =====================
# DISTRIBUCIÓN / BUILD
# =====================
build/
dist/
.eggs/
*.egg-info/
*.egg

# =====================
# IDEs / EDITORES
# =====================
.vscode/
.idea/
*.swp

# =====================
# SISTEMA
# =====================
.DS_Store
Thumbs.db
